*{    
    font-family: 'DotGothic16', sans-serif;
    margin: auto;
}

main{
    background-image: url(media/BG1.png);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    display: flex;
    height: 100vh;
}

article{
    flex-direction: column;
    display: flex;
    padding: 25px;
}

button{
    background-color: rgb(245, 165, 245);
    border-color:rgb(18, 129, 194);
    border-radius: 5px;
    color:  white;
    padding: 6px;   
}

button:hover{
    color: rgb(18, 129, 194);
}

img{
    height: auto;
    width: 200px;
}

td{
    padding: 5px;
}

.entrada{
    flex-direction: column;
    display: flex;
}

.entrada input{
    text-align: center;
    margin: 8px;
}